/*
 * Base structure
 */

 * {
	margin: 0;
	padding: 0;
}

body {
  background-color: red;
  scroll-behavior:smooth;
  width: 100%;
  min-width: fit-content;
  height: 100%;
  font-size: 1.1em;
  line-height: 1.8;
  color: #3e3e3e;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  /* position: fixed;
  overflow-y: scroll; */
}

h1, h2 {
  font-weight: 500;
}

/*
 * Header
 */

 #masthead {
  text-align: center;
 }

 .masthead-mobile {
  display: block;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: #3e3e3e;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ebebeb;
  align-content: center;
 }

 .masthead{
  display: none;
  
 }

 .masthead-mobile, #masthead h2 {
  font-size: 1.1em;
  margin: 0;
 }

.masthead-split {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

.masthead-nav {
  width: 100%;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead a, .masthead-mobile a {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.masthead a:hover {
  transition: 0.2s ease-in-out;
  color: #888888;
}

.masthead-brand a {
  font-size: 1.5em;
}

/*
 * Cover
 */
.banner {
  height: 100vh;
  text-align: start;
  background-image: url(../images/solo\ photo.jpg);
  background-size: cover;
  background-position-x: 30%;
  filter: brightness(60%);
}

.banner {

  height: 100%;
  /* position: relative; */
}

.banner h1 {
  width: 100%;
  bottom: 65vh;
}

.banner-container {
  width: 100%;
  height: 100vh;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.banner-cover {
  z-index: 5;
  color: white;
  width: 100%;
  bottom: 65vh;
  height: 0;
  position: relative;
}

.banner-cover h1{
  line-height: normal;
  margin-bottom: 0;
}

.cover-heading {
  font-size: 60px;
}

/*
 * Site Container
 */
.site-container {
  padding: 5% 0;
  height: 100vh;
}

.extra {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fafafa;
  align-content: center;
  justify-content: center;
  /* background-image: url(../images/bg.png); */
}

.extra img {
  width: 25%;
  height: auto;
  padding: 5% 0;
}

.extra p {
  width: 40% !important;
}

/* 
 *  About
 */
.about-container {
  width: 100% ;
  padding: 0;
  height: auto;
}

.about-container-main {
  height: auto;
}

.about-container p {
  width: 100%;
}

 /* 
 *  Video
 */
.video-container {
  height: 80vh;
  width: 70%;
  padding: 0 15%;
  padding-top: 5%;
  background-color: #fafafa;
}

.video-container-1 {
  height: 80vh;
  width: 70%;
  padding: 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container p{
  width: 80%;
  margin: 0 10%;
}

.video-preview {
  height: 80% !important;
  width: 100% !important;
}

.video-preview-1 {
  height: 100% ;
  width: 100%;
}

/* 
 *  About 
 */

.split-container {
  display:flex;
  justify-content:space-evenly;
}

.split-container img{
  width: 40%;
  height: 90%;
}

.split-container p{
  /* font-size: 12px; */
  align-self: center;
}


/* 
 *  Quote
 */

.quote {
  font-size: 1em;
  width: 90%;
  padding: 0 5% ;
  line-height: normal;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote h1 {
  font-style: italic;
  margin-bottom: 0;
}

.quote p {
  align-self: flex-end;
  font-style: italic; 
  margin-top: 0;
}


/* 
 *  Schedule
 */
.schedule-container {
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  height: auto;
  padding-bottom: 5%;
}

.schedule-container {
  padding-top: 2%;
}

.article-split a{
  text-decoration: none;
  color: black;
  width: auto;
}

.article {
  padding: 1%;
  /* border: #0003 solid 1px; */
  height: auto;
  text-align: left;
  line-height: normal;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.article p {
  width: 80%;
  margin: 0;
}

.article h1 {
  width: fit-content;
  font-size: 1.5em;
}

.article-split {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.link a{
  width: 100%;
}

.article img {
  width: 15vw;
  object-fit: fill;
}

.article h4{
  font-weight: 1000;
  margin-bottom: 1%;
  margin-top: 0;
}
.article-container {
  padding: 2% 15%;
  width: 70%;
}

.gallery-container {
  padding: 2% 15%;
  width: 70%;
  background-color: #fafafa;
}



.gallery-row {
  display: flex;
  justify-content: center;
}

.gallery-img {
  flex: 1 1 calc(33.333% - 20px); /* 3 images per row, minus the gap */
  max-width: calc(33.333% - 20px); /* Ensures containers don't stretch */
  aspect-ratio: 1 / 1; /* Maintains a square aspect ratio */
  overflow: hidden; /* Hide overflow to maintain the aspect ratio */
  transition: transform .2s; /* Animation */
  /* padding: 3px; */
}

/* .gallery-img:hover {
  transform: scale(1.01);
} */


.gallery-row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-position {
  object-position: top !important;
}

.image-1 {
  width: 50%;
  height: auto;
}


.border {
  margin: 0;
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-self: center;
  justify-content: center;
} 

.border-dot {
  color: #0003;
  font-size: 1.5rem;
  margin: 0 10px;
  padding: 0;
}

.border-line {
  background-color: #0003;
  height: 1px;
  width: 40vw;
}

@media only screen and (min-width: 500px) {
  /* .split-container p{
    font-size: 16px;
  } */

  .split-container img{
    width: 40%;
    height: auto;
  }

}


@media only screen and (min-width: 1200px) {
  .masthead {
    display: block;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    color: #3e3e3e;
    background-color: #FFFFFF;
    border-bottom: 1px solid #b4b4b4;
    align-content: center;
   }

   .masthead-mobile, #masthead h2 {
    font-size: 1.5em;
   }

   .masthead-mobile{
    display: none;
   }

  .masthead a {
    font-size: 14px;
  }

  .masthead-split {
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;
  }

  .masthead-brand a {
    font-size: 1em;
  }


  .cover-heading {
    font-size: 80px;
    z-index: 10;
  }
  

  .site-container {
    padding: 5% ;
    padding-top: 0;
    height: 100vh;
  }

  #about {
    justify-content: center;
    display: block;
  }

  .about-container {
    width: 80%;
    padding: 5% 10%;
  }

  .about-container p {
    margin-top: 4%;
    margin-left: 5%;
    width: 60%;
  }

  .about-container-main {
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .about-container-trio {
    background-color: #fafafa;
    width: 60%;
    padding: 5% 20%;
  }

  .about-container-trio img{
    width: 80%;
  }

  .quote {
    font-size: 1.5em;
    width: 70%;
    padding: 0 15% ;
  }


  .split-container {
    justify-content: space-evenly;
  }

  .split-container img{
    width: 32.5%;

  }
  
  /* .split-container p{
    font-size: 18px;
  } */

  .video-preview {
    height: 80% !important;
    width: 80% !important;
  }

  .video-preview-1 {
    height: 80% !important;
    width: 100% !important;
  }

  .contact-container {
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 0 15%;
  }

  .contact-bio {

    width: 50%;
  }

  #contact {

  }

  #contact-form {
    /* border: #3e3e3e solid 1.5px; */
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 50%;
  }

  #contact-form p {
    margin: 2%;
    height: auto;
    text-align: left;
    margin-bottom: 0;
    margin-top: 1%;
  }

  #contact-form input {
    background-color: #f7f7f7;
    border: none;
    margin: 2%;
    height: 100%;
    width: 100%;
    margin-top: 0;
    color: #3e3e3e;
    font-family: 'Times New Roman', Times, serif;
  }

  #contact-form textarea {
    border: #3e3e3e solid 1.5px;
    margin: 2%;
    height: 100%;
    font-size: 1em;
    color: #3e3e3e;
    font-family: 'Times New Roman', Times, serif;
    resize:none;
    margin-top: 0;
  }

  #contact-form button {
    background-color: white !important;
    margin: 2%;
    width: 50%;
    height: 50px;
    align-self: center;
    font-size: 1.1em;
    color: #3e3e3e;
    font-family: 'Times New Roman', Times, serif;
  }

  #contact-form button:hover {
    background-color: #3e3e3e !important;
    color: white;
    cursor: pointer;
  }

  #language {
    position: fixed;
    background-color: white;
    z-index: 150;
    width: 80px;
    height: auto;
    display: flex;
    bottom: 0;
    right: 5%;
    justify-content: center;  
  }

  #language a{
    height: 25px;
  }

  #language img{
    margin: 3%;
    width: 80%;
    height: auto;
  }

  .contact-links {
    width: 40%;
  }

  .contact-links p {
    margin: 0;
    line-height: normal;
  }

  .contact-img {
    width: 100%;
    /* border-radius: 50%; */
  }

  .logo {
    width: 10%;
    height: auto;
    margin: 3%;
    margin-top: 1%;
  }
  .extra {
    height: 150vh;
  }
}

