/*
 * Base structure
 */
html,
body {
  scroll-behavior:smooth;
  height: 100%;
  font-size: 17px;
  line-height: 1.8;
  color: #3e3e3e;
  text-align: center;
  margin: 0;
  font-family: 'Times New Roman', Times, serif
}

h1, h2 {
  font-weight: 500;
}

/*
 * Header
 */
 .masthead-mobile {
  display: block;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: #3e3e3e;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ebebeb;
  align-content: center;
 }

 .masthead{
  display: none;
  
 }

 .masthead-mobile, #masthead h2 {
  font-size: 1.1em;
  margin: 0;
 }

.masthead-split {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

.masthead-nav {
  width: 100%;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead a, .masthead-mobile a {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.masthead a:hover {
  transition: 0.2s ease-in-out;
  color: #888888;
}

.masthead-brand a {
  font-size: 1.5em;
}

/*
 * Cover
 */
.banner {
  height: 100vh;
  text-align: start;
  background-image: url(../images/solo\ photo.jpg);
  background-size: cover;
  background-position-x: 30%;
  filter: brightness(60%);
}

.banner-cover {
  z-index: 5;
  color: white;
  width: 100%;
  bottom: 65vh;
  height: 0;
  position: relative;

}

.banner-cover h1{
  line-height: normal;
  margin-bottom: 0;
}

.cover-heading {
  font-size: 60px;
}

/*
 * Site Container
 */
.site-container {
  padding: 5% 0;
  height: 100vh;
}

.extra {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fafafa;
  align-content: center;
  justify-content: center;
  /* background-image: url(../images/bg.png); */
}

.extra img {
  width: 25%;
  height: auto;
  padding: 5% 0;
}

.extra p {
  width: 40% !important;
}

/* 
 *  About
 */
.about-container {
  width: 100% ;
  padding: 0;
  height: auto;
}

.about-container-main {
  height: auto;
}

.about-container p {
  width: 100%;
}

 /* 
 *  Video
 */
.video-container {
  height: 100vh;
  width: 100%;
  padding-top: 5%;
  background-color: #fafafa;
}

.video-container p{
  width: 80%;
  margin: 0 10%;
}

.video-preview {
  height: 80% !important;
  width: 100% !important;
}

.video-preview-1 {
  height: 80% !important;
  width: 100% !important;
  align-self: center;
}

/* 
 *  About 
 */

.split-container {
  display:flex;
  justify-content:space-evenly;
}

.split-container img{
  width: 50%;
  height: auto;
}

.split-container p{
  font-size: 12px;
  align-self: center;
}


/* 
 *  Quote
 */

.quote {
  font-size: 1em;
  width: 90%;
  padding: 0 5% ;
  line-height: normal;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote h1 {
  font-style: italic;
  margin-bottom: 0;
}

.quote p {
  align-self: flex-end;
  font-style: italic; 
  margin-top: 0;
}


/* 
 *  Schedule
 */
.schedule-container {
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  height: auto;
  padding-bottom: 5%;
}

.schedule-container {
  padding-top: 2%;
}

.event a {
  text-decoration: none;
}


.event {
  height: auto;
  border: #3e3e3e solid 1.5px;
  text-align: left;
  line-height: normal;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 3%;
}

.event h1 {
  font-size: 1.5em;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 0;
}

.event h2{
  font-size: 1em;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 0;
}

.event p{
  margin: 1%;
}

.event-split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-details {
  width: 100%;
  text-align: left;
}

.ticket-link {
  border: #3e3e3e solid 1.5px;
  height: 40%;
  text-decoration: none;
  color: #3e3e3e;
  padding: 1% 5%;
  font-size: 1.2em;
  margin-right: 1%;
  transition: 0.3s ease-in-out;
}

.ticket-link:hover {
  background-color: #3e3e3e;
  color: white;
}

.gallery-container {
  padding: 2% 10%;
  width: 80%;
  background-color: #fafafa;
}

.gallery-row {
  display: flex;
  justify-content: center;
}

.gallery-img {
  flex: 1 1 calc(33.333% - 20px); /* 3 images per row, minus the gap */
  max-width: calc(33.333% - 20px); /* Ensures containers don't stretch */
  height: 300px; /* Set a uniform height */
  overflow: hidden; /* Hide overflow to maintain the aspect ratio */
}

.gallery-row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-position {
  object-position: top !important;
}

/*
 *  Scroll down arrow
 */
.scroll {
  bottom: 5%;
  left: 50%;
  position: absolute;
}

#scroll-down {
	display: block;
	position: relative;
	padding-top: 79px;
	text-align: center;
}

.arrow-down {
	display: block;
	margin: 0 auto;
	width: 10px;
	height: 38px;
}

.arrow-down:after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(135deg);
}

.image-1 {
  width: 50%;
  height: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #F8F4F0; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(116, 116, 116); 
  border-radius: 5px;
  height: 1%;
}

#scroll-down::before {
	animation: elasticus 1s cubic-bezier(1, 0, 0, 1) infinite;
	position: absolute;
  bottom: 25px;
	left: 50%;
	margin-left: -1px;
	width: 3px;
	height: 90px;
	background: white;
	content: " ";
}

@keyframes elasticus {
	0% {
		transform-origin: 0% 0%;
		transform: scale(1, 0);
	}

	50% {
		transform-origin: 0% 0%;
		transform: scale(1, 1);
	}

	50.1% {
		transform-origin: 0% 100%;
		transform: scale(1, 1);
	}

	100% {
		transform-origin: 0% 100%;
		transform: scale(1, 0);
	}
}

@media only screen and (min-width: 500px) {
  .split-container p{
    font-size: 16px;
  }

  .split-container img{
    width: 40%;
    height: auto;
  }

}


@media only screen and (min-width: 1200px) {
  .masthead {
    display: block;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    color: #3e3e3e;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ebebeb;
    align-content: center;
   }

   .masthead-mobile, #masthead h2 {
    font-size: 1.5em;
   }

   .masthead-mobile{
    display: none;
   }

  .masthead a {
    font-size: 14px;
  }

  .masthead-split {
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;
  }

  .masthead-brand a {
    font-size: 1em;
  }

  .banner {
    height: 100vh;
  }

  .banner-cover {
    z-index: 5;
    color: white;
    width: 100%;
    bottom: 65vh;
    height: 0;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .cover-heading {
    font-size: 80px;
  }
  

  .site-container {
    padding: 5% ;
    padding-top: 0;
    height: 100vh;
  }

  #about {
    justify-content: center;
    display: block;
  }

  .about-container {
    width: 80%;
    padding: 5% 10%;
  }

  .about-container p {
    margin-top: 4%;
    margin-left: 5%;
    width: 60%;
  }

  .about-container-main {
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .about-container-trio {
    background-color: #fafafa;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    padding: 5% 20%;
  }

  .about-container-trio img{
    width: 80%;
  }

  .quote {
    font-size: 1.5em;
    width: 70%;
    padding: 0 15% ;
  }


  .split-container {
    justify-content: space-evenly;
  }

  .split-container img{
    width: 35%;

  }
  
  .split-container p{
    font-size: 18px;
  }

  .video-preview {
    height: 80% !important;
    width: 80% !important;
  }

  .video-preview-1 {
    height: 80% !important;
    width: 80% !important;
  }

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 0 5%;
    padding-top: 5%;
  }

  .contact-container {
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 0 20%;
  }

  #contact {
    padding-top: 3%;

  }

  #contact-form {
    border: #3e3e3e solid 1.5px;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 40%;
  }

  #contact-form p {
    margin: 2%;
    height: auto;
    text-align: left;
    margin-bottom: 0;
  }

  #contact-form input {
    border: #3e3e3e solid 1.5px;
    margin: 2%;
    font-size: 1.1em;
    color: #3e3e3e;
    font-family: 'Times New Roman', Times, serif;
  }

  #contact-form textarea {
    border: #3e3e3e solid 1.5px;
    margin: 2%;
    height: 100%;
    font-size: 1em;
    color: #3e3e3e;
    font-family: 'Times New Roman', Times, serif;
    resize:none;
  }

  #contact-form button {
    background-color: white !important;
    margin: 2%;
    width: 50%;
    height: 50px;
    align-self: center;
    font-size: 1.1em;
    color: #3e3e3e;
    font-family: 'Times New Roman', Times, serif;
  }

  #contact-form button:hover {
    background-color: #3e3e3e !important;
    color: white;
    cursor: pointer;
  }


  .extra {
    height: 150vh;
  }
}

