* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Times New Roman', Times, serif;
  background-color: #1D1D1D;
  color: white;
  scroll-behavior:smooth;
}

h1 {
  font-weight: 100;
}


body {
  line-height: 1.8;
  font-size: 1.2em;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  transition: top 0.5s;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}


.header-main {
  background-color: #1D1D1D;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 0.5%;
  padding-bottom: 1%;
  width: 100%;
}

.header-menu {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu ul, li{
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.header-menu a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.header-menu a:hover {
  color: rgb(167, 167, 167);
  
}

.header-main-logo {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main-logo a {
  display: flex;
  width: 33.3%;
  align-self: center;
}

.header-main-logo img{
    width: 100%;
}

.header-logos {
  margin: 0 9%;
  width: 15.3%;
  display: flex;
  justify-content: space-evenly;
}

.header-logos a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.header-logos img{
  width: 100%;
}

.gradient-header{
  z-index: 1;
  top: 500px;
  height: 65px;
  width: 100%;
  background: linear-gradient(to bottom, #1D1D1D 0%, rgba(255, 255, 255, 0) 100%);
}

/* ######################################################################## */

.gradient-up{
  z-index: 1;
  position:absolute;
  height: 450px;
  width: 100%;
  background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0%, #1D1D1D 100% );
  bottom: -175px;
}

.cover {
  margin-top: 80px;
  width: 100%;
  height: 110vh;
  background-image: url('/images/banner.jpg');
}

.about-container-first {
  height: 100vh;
  display:flex;
  align-items: center;
  margin: 0 5%;
  justify-content: space-evenly;
}

.about-text-first {
  width: 45%;
  text-align: center;
}

.about-text-first h1{
  font-size: 3.5em;
  margin-bottom: 5%;
}

.about-container-first img {
  width: 30%;
  height: auto;
  transition: box-shadow .4s;
}

.about-container-first img:hover {
  box-shadow: 0px 0px 80px 15px rgba(255, 255, 255, 0.1);
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  padding: 5% 0;
}

.horizontal-line {
  margin: 0 45%;
  width: 10%;
  height: 2px;
  background-color: white;
}

.quote {
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  width: 50%;
  padding: 1% 25%;
  height: fit-content;
}

.quote h1 {
  font-style: italic;
  margin-bottom: 2.5%;
}

.quote p {
  font-style: italic; 
  margin-top: 0;
}































.arrow-down {
	display: block;
	margin: 0 auto;
	width: 10px;
	height: 38px;
  
}

.arrow-down:after {
  z-index: 5;
  position:absolute;
  bottom: 50px;
	content: "";
	display: block;
	margin: 0;
  right: 50vw;
	padding: 0;
	width: 8px;
	height: 8px;
	border-top: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(135deg);
  
}

#scroll-down::before {
  z-index: 5;
	animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
	position: absolute;
	bottom: 50px;
	right: 50.15vw;
	margin-left: -1px;
	width: 3px;
	height: 90px;
	background: white;
	content: " ";
}

@keyframes elasticus {
	0% {
		transform-origin: 0% 0%;
		transform: scale(1, 0);
	}

	50% {
		transform-origin: 0% 0%;
		transform: scale(1, 1);
	}

	50.1% {
		transform-origin: 0% 100%;
		transform: scale(1, 1);
	}

	100% {
		transform-origin: 0% 100%;
		transform: scale(1, 0);
	}
}

@media only screen and (min-width: 801) {

}